@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1561539416150'); /* IE9 */
  src: url('iconfont.eot?t=1561539416150#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKIAAsAAAAABlgAAAI+AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApccAE2AiQDCAsGAAQgBYRtBzYbnAURBVzJPhLTLUb3kx3lSMVMBE9zn/Oym98ccpEUkwNE4coSSIpDX5QsWdc2939qh32hA8nEPE+8yzPuj5lcrtNrXKICFrA+ce/0t4ACme86z2WOSZO6gLo4kALaG6PIiiTyhrELXMJjAs1mWi52tXuOqGTWqkDcMdcvqnIhWWbZSmjUHMzitVJVPCne4FX4/fhrRVQUysSqO3Bt9xXbfqy089Kj+pEzPiFMQMdLJCxHJo7UpvZJgtGT5lQ2l31VBz9W1rVvEXs1CvbXWZWtYDoU3ZPYldxqtoDbGmk6Zo3aQEy/25oejz8dVbR6jEdjLW0F49lEpDZ+1YS1Hyc3b56+c+3O6QF3ZNfaXSO/NX3V2lW2gXoqjactAsGcX6v/n+/Y9K9qyeDT+iMnaKCeyvp5qPblDv6JuGdX1qWWuciquLa/MP1cDc2aUcO+bt/H6vpuIBcqfSM808xIkVTmkzJtOUotVqGhgm5Fs2W64y16kL3ITVjqDRA6fVBoN4Gk05eUaT+U+v3R0Bl7NDsWPRe2WBhG7CTsGScYnmDGFKVjZRFVH1BdfU9Zaci4IK0mClVeFrMdRqQ5tqw3VTNLkJQCtOA59D7BTMniyLlmnpuikHVvyscUNsJOBPUYmoDBEzBGSST9wUyUPn+AlCuvRy0dNd4LRFZmfFDJlT1InSr26riXV1Y3So0xCUgkCUAL5iHPS8BcP89CI5bTIxKzRmH3kn1V+fqa8HWHoJmlL8J2Jq13zsgeJr6carMB') format('woff2'),
  url('iconfont.woff?t=1561539416150') format('woff'),
  url('iconfont.ttf?t=1561539416150') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1561539416150#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-xinzeng:before {
  content: "\e633";
}

